html[data-theme="azul"]{
    --header-background-image: linear-gradient(#003366, #006699);
    --footer-background-color: #003366;
    --main-background-color: linear-gradient(#cccccc, white);
    --nav-background-color: #383838;

    --nav-border-color: white;
    --nav-ul-li-a-color: white;
    --nav-ul-li-a-hover-color: #cccccc;
    --nav-ul-li-a-hover-bg-color: #383838;

    --dropdown-bg-color: #383838;
    --dropdown-border-color: white;
    --dropdown-shadow-color: black;

    --input-border-color: #757575;

    --button-font-color: white;
    --button-editar-color: #2c832d;
    --button-excluir-color: #c42626;
    --button-editar-hover-color: #1e5e20;
    --button-excluir-hover-color: #811b1b;
    --button-disabled-color: #757575;
    --button-disabled-color-txt: #cccccc;

    --button-confirmacao-bg: #7c7401;
    --button-confirmacao-bg-hover: #554f02;
    --button-chegada-bg: #01378a;
    --button-chegada-hover: #042b66;

    --div-comandos-border-bottom-color: #003366;

    --table-font-txt: white;
    --table-th-color: #003366;
    --table-odd-child-color: #c6d4e2;
    --table-even-child-color: #e7ecf1;
    --table-tbody-hover: #cccccc;

    --font-header-footer-color: white;
    --footer-link-color: white;
}

html[data-theme="verde"]{
    --header-background-image: linear-gradient(#146551, #589A8D);
    --footer-background-color: #146551;
    --main-background-color: linear-gradient(#8FC1B5, white);
    --nav-background-color: #265C4B;

    --nav-border-color: white;
    --nav-ul-li-a-color: white;
    --nav-ul-li-a-hover-color: #cccccc;
    --nav-ul-li-a-hover-bg-color: #265C4B;

    --dropdown-bg-color: #265C4B;
    --dropdown-border-color: white;
    --dropdown-shadow-color: black;

    --input-border-color: #757575;

    --button-font-color: white;
    --button-editar-color: #2c832d;
    --button-excluir-color: #c42626;
    --button-editar-hover-color: #1e5e20;
    --button-excluir-hover-color: #811b1b;
    --button-disabled-color: #757575;
    --button-disabled-color-txt: #cccccc;

    --button-confirmacao-bg: #7c7401;
    --button-confirmacao-bg-hover: #554f02;
    --button-chegada-bg: #01378a;
    --button-chegada-hover: #042b66;

    --div-comandos-border-bottom-color: #146551;

    --table-font-txt: white;
    --table-th-color: #146551;
    --table-odd-child-color: #b7c5c2;
    --table-even-child-color: #e7ecf1;
    --table-tbody-hover: #c1d3c1;

    --font-header-footer-color: white;
    --footer-link-color: white;
}

html[data-theme="light"]{
    --header-background-image: linear-gradient(#CC9F9F, #FFF4E8);
    --footer-background-color: #C7A18B;
    --main-background-color: #E3D7CF;
    --nav-background-color: #C7A18B;

    --nav-border-color: white;
    --nav-ul-li-a-color: rgb(52, 51, 51)
    --nav-ul-li-a-hover-color: #FFF4E8;
    --nav-ul-li-a-hover-bg-color: #FFF4E8;

    --dropdown-bg-color: #C7A18B;
    --dropdown-border-color: white;
    --dropdown-shadow-color: #757575;

    --input-border-color: #757575;

    --button-font-color: white;
    --button-editar-color: #2c832d;
    --button-excluir-color: #c42626;
    --button-editar-hover-color: #1e5e20;
    --button-excluir-hover-color: #811b1b;
    --button-disabled-color: #757575;
    --button-disabled-color-txt: #cccccc;

    --button-confirmacao-bg: #7c7401;
    --button-confirmacao-bg-hover: #554f02;
    --button-chegada-bg: #01378a;
    --button-chegada-hover: #042b66;

    --div-comandos-border-bottom-color: #146551;

    --table-font-txt: rgb(45, 42, 42);
    --table-th-color: #C7A18B;
    --table-odd-child-color: #f3efec;
    --table-even-child-color: white;
    --table-tbody-hover: #e2d3c7;

    --font-header-footer-color: rgb(57, 54, 54);
    --footer-link-color: rgb(57, 54, 54);;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

/* Header e Footer */

header, footer {
    color: var(--font-header-footer-color);
    padding: 0.5em;
}

header {
    background-image: var(--header-background-image);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    background-color: var(--footer-background-color);
    margin-top: auto;
}

footer a {
    color: var(--footer-link-color);
}

div#logo {
    margin: auto 0;
}

div#logo * {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.5em;
}

div#logo span {
    font-size: 2em;
    font-weight: bold;
}

div#usuarioInfo span, footer span {
    display: block;
    margin-bottom: 0.5em;
}

div#usuarioInfo span {
    text-align: right;
}

div#usuarioInfo button {
    margin-right: auto;
    border: 1px solid;
    float: right;
}


@media screen and (max-width: 430px) {

    div#usuarioInfo {
        margin-top: 1em;
    }

    div#usuarioInfo span {
        text-align: left;
    }

    div#usuarioInfo button {
        margin-left: 0;
    }

}

/* Change Color */

.changeTheme{
    display: flex;
    justify-content: space-between;
}

.changeTheme #azul #verde #light{
    display: inline-block;
}

#azul{
    background-color: #003366;
}

#verde{
   background-color: #146551; 
}

#light{
    background-color: #C7A18B;
}

#azul, #verde, #light{
    margin-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


/* Main */

main {
    background-image: var(--main-background-color);
    padding: 1em;
}


/* NAV  */

nav {
    background-color: var(--nav-background-color);
    border-top: 1px solid var(--nav-border-color);
    border-bottom: 1px solid var(--nav-border-color);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
    color: var(--nav-ul-li-a-color);
    text-decoration: none;
}

nav ul li a:hover {
    background-color: var(--nav-ul-li-a-hover-color);
    color: var(--nav-ul-li-a-hover-bg-color);
}

nav li#dropdown:hover div#dropdown_conteudo {
    display: block;
}

nav div#dropdown_conteudo {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    border: 1px solid var(--dropdown-border-color);
    box-shadow: 0px 2px 4px 0px var(--dropdown-shadow-color);
}

nav div#dropdown_conteudo a {
    display: block;
}

@media screen and (max-width: 730px) {

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul li a {
        width: 100%;
    }

    nav div#dropdown_conteudo {
        position: relative;
        border: none;
        box-shadow: none;
    }

}


/* Alerta */

div.alerta {
    border: 1px solid;
    padding: 1em;
    max-width: 400px;
    margin: 1em auto;
    word-wrap: break-word;
    /* position: absolute;
    top: 0.5em;
    right: 0;
    left: 0;
    opacity: .9;
    box-shadow: 0px 2px 4px 0px black;
    border-radius: 10px; */
}

div.alerta span {
    float: right;
    font-size: 1.25em;
    cursor: pointer;
}

div.alerta.erro {
    background-color: #ff9f9f;
    color: #660101;
    border-color:#660101;
}

div.alerta.sucesso {
    background-color: #afffba;
    color: #006f05;
    border-color: #006f05;
}


/* Formulários */

form {
    margin: auto;
    text-align: right;
    width: fit-content;
}

form div.grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 0.5em;
    align-items: center;
    margin-bottom: 0.5em;
}

label::after {
    content: ":";
}

input:required:invalid,
select:required:invalid {
    border: 1px solid red;
}

input, select {
    height: 2em;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
}

input[type="checkbox"] {
    width: 1.25em;
    margin-left: 0;
}

input[type="date"] {
    font-family: inherit;
}

@media screen and (max-width: 400px) {

    form {
        width: 85%;
        text-align: left;
    }

    form div.grid {
        grid-template-columns: 1fr;
    }

}


/* Botões */

button, input[type="button"], input[type="submit"] {
    background-color: var(--button-editar-color);
    color: var(--button-font-color);
    border: none;
    border-radius: 4px;
    height: 2em;
    cursor: pointer;
}

button.excluir,
button.finalizar,
button.cancelar {
    background-color: var(--button-excluir-color);
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover  {
    background-color: var(--button-editar-hover-color);
}

button.excluir:hover:not(:disabled),
button.finalizar:hover:not(:disabled),
button.cancelar:hover:not(:disabled) {
    background-color: var(--button-excluir-hover-color);
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-disabled-color-txt);
    cursor: not-allowed;
}

input, select, button {
    font-size: 1em;
}

button.confirmacao.oculto,
button.chegada.oculto,
button.iniciar.oculto,
button.finalizar.oculto {
    display: none;
}

button.confirmacao {
    background-color: var(--button-confirmacao-bg);
}

button.confirmacao:hover {
    background-color: var(--button-confirmacao-bg-hover);
}

button.chegada {
    background-color: var(--button-chegada-bg);
}

button.chegada:hover {
    background-color: var(--button-chegada-hover);
}

button.confirmacao,
button.chegada,
button.iniciar,
button.finalizar {
    width: 5.5em;
}

div#comandos button.oculto {
    visibility: hidden;
}


/* Comandos */
div#comandos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5em 0.1em;
    border-bottom: 1px solid var(--div-comandos-border-bottom-color);
}

/* Tabela */

table {
    border-spacing: 0.1em;
    margin: 0.5em auto;
    /* width: 100%; */
    overflow-x: auto;
    display: block;
}

table th {
    background-color: var(--table-th-color);
    color: var(--table-font-txt);
}
 table th, table td {
     padding: 0.5em;
 }

 table tfoot td {
     border-top: 1px solid var(--table-th-color);
     text-align: center;
 }

 table tbody tr:nth-child(odd){
     background-color: var(--table-odd-child-color);
 }

 table tbody tr:nth-child(even) {
     background-color: var(--table-even-child-color);
 }

 table tbody tr:hover {
     background-color: var(--table-tbody-hover);
 }

 table tbody td:last-child, table td.fit  {
     width: 1%;
     white-space: nowrap;
     text-align: center;
 }
